@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #131313;
}

img {
  width: 300px;
  height: auto;
  transform: scaleX(-1);
}

.container {
  position: relative;
}

.container .card {
  position: relative;
  width: 320px;
  height: 450px;
  background: #232323;
  border-radius: 20px;
  overflow: hidden;
}

.container .card:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #9bdc28;
  clip-path: circle(150px at 20% 20%);
  z-index: 1;
  transition: 0.3s ease-in-out;
}

.container .card:hover:before {
  clip-path: circle(300px at 20% -20%);
}

.container .card:after {
  content: attr(data-text);
  position: absolute;
  top: 30%;
  left: -20%;
  font-size: 12em;
  font-weight: 800;
  font-style: italic;
  color: rgba(255, 255, 255, 0.04);
}

.container .card .image {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  width: 100%;
  height: 220px;
  transition: 0.3s;
}

.container .card:hover .image {
  top: 0%;
  transform: translateY(0%);
}

.container .card .image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(25deg);
  width: 270px;
}

.container .card .content {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 0.6s;
  z-index: 10;
}

.container .card:hover .content {
  height: 210px;
}

.container .card .content h2 {
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
}

.container .card .content .size,
.container .card .content .color {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
}

.container .card:hover .content .size,
.container .card:hover .content .color {
  opacity: 1;
  visibility: visible;
  transition-delay: .3s;
}
.container .card:hover .content .color {
  transition-delay: .4s;
}

.container .card .content h3 {
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 10px;
}

.container .card .content .size span {
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  font-size: 14px;
  display: inline-block;
  color: #111;
  background: #fff;
  margin: 0 5px;
  transition: 0.3s;
  border-radius: 4px;
}

.container .card .content .size span:hover {
  background: #9bdc28;
  cursor: pointer;
}

.container .card .content .color span {
  width: 20px;
  height: 20px;
  background: rgb(235, 62, 62);
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.container .card .content .color span:nth-child(2) {
  background: #9bdc28;
}

.container .card .content .color span:nth-child(3) {
  background: #3a8dd1;
}

.container .card .content a {
  display: inline-block;
  padding: 10px 20px;
  background: #fff;
  border-radius: 4px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(10px);
  transition: 0.5s;
}

.container .card:hover .content a {
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.5s;
}
